a code, .gray a {
    color: inherit;
}

h3 a code {
    color: inherit;
}

.post-authors a {
    color: inherit;
    font-style: italic;
}

.gray {
    color: gray;
}

li ul {
    margin-bottom: 0rem;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    padding: 0;
    color: #a0565c;
    font-size: 95%;
    background-color: inherit;
}

.post-summary p:last-of-type{
    display: inline;
}

.read-more {
    margin-left: 5px;
}

.showcase-post-intro {
    color: gray;
    font-style: italic;
    margin-left: 1rem;
}

.maintainers {
    display: block;
    margin-top: -.5rem;
    color: #9a9a9a;
}

.maintainers a {
    color: #9a9a9a;
}
