.post-authors {
    margin-left: 1rem;
}

.post-authors a, a code, .gray a {
    color: inherit;
}

.gray {
    color: gray;
}

li ul {
    margin-bottom: 0rem;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    padding: 0;
    color: #a0565c;
    font-size: 95%;
    background-color: inherit;
}
