{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock title %}

{% block main %}

<h1 style="visibility: hidden; height: 0px; margin: 0px; padding: 0px;">Rust OSDev</h1>

{% set this_month = get_section(path = "this-month/_index.md") %}
<h2>{{ this_month.title }}</h2>
{{ this_month.content | safe }}
<ul>
    {% for page in this_month.pages %}
        <li><a href="{{ page.path | safe }}">{{ page.extra.month }}</a></li>
    {% endfor %}
</ul>

{% set showcase = get_section(path = "showcase/_index.md") %}
<h2>{{ showcase.title }}</h2>
{{ showcase.content | safe }}
<ul>
    {% for page in showcase.pages %}
        <li><a href="{{ page.path | safe }}">{{ page.title | safe }}</a></li>
    {% endfor %}
</ul>

{% endblock main %}

{% block after_main %}

{% endblock after_main %}
