{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock title %}

{% block main %}

<h1 style="visibility: hidden; height: 0px; margin: 0px; padding: 0px;">Rust OSDev</h1>

<h2>This Month in Rust OSDev</h2>
{% set section = get_section(path = "this-month/_index.md") %}
<p>{{ section.description }}</p>
<ul>
    {% for page in section.pages %}
        <li><a href="/{{ page.path | safe }}">{{ page.extra.month }}</a></li>
    {% endfor %}
</ul>

{% endblock main %}

{% block after_main %}

{% endblock after_main %}
